{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}
<div class="container" style="max-width: 750px; margin: auto; margin-top: 100px; margin-bottom: 100px;">
    <h2>Login</h2>
    <div class="form-group">
        Login untuk post topik dan komentar
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="form-group">
        Belum mempunyai akun?  <a href="{% url 'account:signup' %}">Daftar</a>
    </div>
</div>
{% endblock %}