{% extends 'base.html' %}
{% load static %}


    {% block css %}
        <link rel="stylesheet" href="{% static 'style.css' %}" /> 
    {% endblock %}

    {% block content %}  

  
  <!-- ======= Landing Page Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1> We are New Normal Info team from University of Indonesia </h1>
            <h2> In this page, we will give you some information about recommended learning pleace during new normal </h2>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <br>
            <br>
            
              <div class="animasi">
                <h6 class="mx-auto my-0 text" id="hello" style="background-color: #EA9E8D; color: #1D3461;"> This page was created by Muchlisah L </h6>
              </div>
           
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="{% static "img/learningplaceApp/teamwork.jpg" %}" class="img-fluid" alt="">
          
        </div>
      </div>
    </div>

  </section><!-- End Landing Page -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6" data-aos="zoom-in">
            <img src="{% static "img/learningplaceApp/coronavirus.jpeg" %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0">
              <h3> Learn more about Co-Vid 19 </h3>
              <p class="font-italic">
                CoVid 19 (coronavirus disease 2019) adalah jenis penyakit baru yang disebabkan oleh virus dari golongan coronavirus, yaitu SARS-CoV-2 yang juga sering disebut virus Corona.
              </p>
              <br>
              <br>
              <p>
                Untuk mencegah penyebaran COVID-19 :
              </p>
              <ul>
                <li>
                  <i class="icofont-check-circled"></i> 
                  Cuci tangan Anda secara rutin. Gunakan sabun dan air, atau cairan pembersih tangan berbahan alkohol.
                 </li>

                <li>
                  <i class="icofont-check-circled"></i>  Selalu jaga jarak aman dengan orang yang batuk atau bersin.
                </li>

                <li>
                  <i class="icofont-check-circled"></i>  Kenakan masker jika pembatasan fisik tidak dimungkinkan.
                </li>

                <li>
                  <i class="icofont-check-circled"></i>   Jangan keluar rumah jika merasa tidak enak badan.
                </li>

                <li>
                  <i class="icofont-check-circled"></i>   Jika demam, batuk, atau kesulitan bernapas, segera cari bantuan medis.
                </li>
               
               
              </ul>
             
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="tips1" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item" data-aos="fade-up">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                  <h4>Berikut ini beberapa tips  yang dapat dilakukan 
                    untuk tetap produktif selama new normal</h4>
                  <p> Yuk, simak tipsnya! </p>
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4> Tetap di rumah, ciptakan suasana belajar yang nyaman </h4>
                 
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4> Atur management waktu mu dengan baik 
                    agar tidak ada waktu yang terbuang </h4>
                  
                </a>
              </li>
              <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                  <h4> Berikut di bawah ini daftar rekomendasi tempat yang dapat kamu kunjungi </h4>
                
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="assets/img/features-1.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="assets/img/features-2.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="assets/img/features-3.png" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
                  <img src="assets/img/features-4.png" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

   
    <main id="main">

      <!-- ======= Opsi Tempat Belajar ======= -->
      <section id="tempatbelajar" class="breadcrumbs">
         <div class="container"> 
  
    
          <h2> Daftar Tempat Belajar, choose one : </h2>
          <br>
          <h4 style="text-align: center;"> Rumah / Cafe / Co-Working Space </h4>
  
        </div>
      </section>
      <!-- End Opsi Tempat Belajar -->
  
      <!-- ======= Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">
  
          <div class="portfolio-details-container">
  
            <div class="owl-carousel portfolio-details-carousel">

              <img src="{% static "img/learningplaceApp/rumahasurstudyplace.jpg" %}" class="img-fluid" alt="">
              <img src="{% static "img/learningplaceApp/luckycat.jpg" %}" class="img-fluid" alt="">
              <img src="{% static "img/learningplaceApp/coworkspace-up.jpg" %}" class="img-fluid" alt="">
              
            </div>
  
  
  
          </div>

        </div>
      </section>
      <!-- End Details Section -->
  
    </main><!-- End #main -->

 <!-- ======= Another Tips Section ======= -->
 <section id="tips2" class="services section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2> Another Tips </h2>
      <p> Apabila kalian adalah pribadi ekstrovert yang tidak suka 
        belajar mandiri di rumah, berikut ini ada beberapa tips yang dapat kalian lakukan. </p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
        <div class="icon-box icon-box-pink">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
         
          <p class="description">1. Mencari coworkingspace atau cafe yangmenerapkan social distancing</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
          <div class="icon"><i class="bx bx-file"></i></div>

          <p class="description"> 2.Memilih tempat yang dekat dengan rumah </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box icon-box-green">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
    
          <p class="description"> 3. Tidak berkumpul lebih dari 5 orang </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box icon-box-blue">
          <div class="icon"><i class="bx bx-world"></i></div>
      
          <p class="description"> 4. Memakai masker atau face shield, membawa hand sanitizer, dan memperhatikan protokol kesehatan lainnya </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Another Tips Section -->



  <!-- ======= List Rekomendasi Tempat Belajar Section ======= -->
 <section id="list-studyplace" class="portfolio">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2> List Tempat Belajar Recommended </h2>
      <p> Berikut ini akan ditampilkan beberapa tempat yang direkomendasikan oleh tim kami untuk kalian yang ingin belajar di luar rumah :D </p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">ALL</li>
          <li data-filter=".filter-app">JAKARTA</li>
          <li data-filter=".filter-card">DEPOK</li>
          <li data-filter=".filter-web">BEKASI</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{% static "img/learningplaceApp/samakamukopi-fix.jpg" %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4> Samakamu Kopi  </h4>
            <p> Jl. Prof. DR. Satrio No.18B, RT.1/RW.1, Kuningan, Setiabudi, Jakarta Selatan 12930 </p>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6 portfolio-item filter-web">        
        <div class="portfolio-wrap">
          <img src="{% static "img/learningplaceApp/oelresto-fix.jpg" %}" class="img-fluid" alt="">
          
          <div class="portfolio-info">
            <h4> O'EL Resto </h4>
            <p> Ruko Sentra Kota F 16. Komplek Sentra Kota Jatibening, RT.001/RW.003, Jatibening Baru, Pondok Gede, Bekasi City, West Java 17412 </p>
          </div>
        </div>
      </div>

     
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
        
          <img src="{% static "img/learningplaceApp/luckycat-coffee-fix.jpg" %}" class="img-fluid" alt="">

          <div class="portfolio-info">
            <h4> Lucky Cat Coffee </h4>
            <p> Parkir Selatan Plaza Festival, Jl. H. R. Rasuna Said No.C22, RT.2/RW.5, Karet Kuningan, Setiabudi, Jakarta Selatan 12940 </p>
          </div>
        </div>
      </div> 



      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{% static "img/learningplaceApp/kopinako-fix.jpg" %}" class="img-fluid" alt="">

          <div class="portfolio-info">
            <h4> Kopi Nako </h4>
            <p> Jl. Margonda Raya No.38, Pancoran Mas, Depok, Jawa Barat 16431 </p>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">

          <img src="{% static "img/learningplaceApp/dailio-specialtycoffee-fix.jpg" %}" class="img-fluid" alt="">

          <div class="portfolio-info">
            <h4> Dailio Specialty Coffee </h4>
            <p> Jl. Jati Makmur No.5, RT.007/RW.011, Jatimakmur, Pondokgede, Bekasi, Jawa Barat 17413 </p>
          </div>
      
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
         
        <img src="{% static "img/learningplaceApp/studiocoffee-tebet-fix.jpg" %}" class="img-fluid" alt="">

          <div class="portfolio-info">
            <h4> Studio Coffee Jakarta </h4>
            <p> Jl. Dr. Saharjo no. 216 RT. 9 RW. 5 Lt. 2, RT.9/RW.5, Menteng Dalam, Tebet, South Jakarta City, Jakarta 12870 </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">

          <img src="{% static "img/learningplaceApp/ranahkopi.jpg" %}" class="img-fluid" alt="">

          <div class="portfolio-info">
            <h4> Ranah Kopi </h4>
            <p> Jl. Sentosa Raya No.33, Mekar Jaya,Sukmajaya,Depok, Jawa Barat 16411 </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">

          <img src="{% static "img/learningplaceApp/starbucks-margonda.jpg" %}" class="img-fluid" alt="">

          <div class="portfolio-info">
            <h4> Starbucks Margonda </h4>
            <p> Jl. Margonda Raya No.488, Pondok Cina, Beji, Depok, Jawa Barat 16424 </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="{% static "img/learningplaceApp/mutualcoffee.jpg" %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4> Mutual Coffee and Roastery </h4>
            <p> JL. Boulevard Ruko RGA No.76 Grand Galaxy City, RT.001/RW.002, Jaka Mulya, Bekasi Selatan, West Java 17146 </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<!-- End of List Rekomendasi Tempat Belajar Section -->



    <!-- ======= Cta Section ======= -->
    <section id="call-to-rs" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-left">
            <!-- <h3>Call To Action</h3> -->
            <p> Merasakan gejala-gejala Co-Vid 19? </p>
            <p> Jangan bepergian dulu! </p>
            <p> Yuk, lihat daftar rumah sakit rujukan. </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="{% url 'daftarrumahsakit:home' %}"> Lihat Daftar RS rujukan  </a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->
 

    {% include 'contactusform.html' with form=form %}

   
  </main><!-- End #main -->

        </div>
      </div>
    </div>

  <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>


    {% endblock %}
