{% extends 'base.html' %}
{% load static %}


    {% block css %}
        <link rel="stylesheet" href="{% static 'style.css' %}" /> 
    {% endblock %}

    {% block content %}  

  <!-- percobaan terbaru -->
  <!-- Developer Page -->
  
  <br>
  <br>
  <section id="team">
    <div class="container">
        <div class="section-header">
          <br>
            <h3> Welcome to Developer Page </h3>
            <br>
        
            <marquee> Introduce our Incredible Team ! :D </marquee>
          <br> 
          <br>
          <br>
          <br>
          
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="member"> <img src="https://i.postimg.cc/sxkFXxzZ/CN36.png"  class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Mochammed Daffa El Ghifari</h4> <span>Main Page</span>
                         
                          
                            <div class="social"> 
                              
                              <a href ="mailto: mochammed.daffa91@ui.ac.id" target="_blank" class="btn-floating btn-lg btn-email" type="button" role="button"><i class="fas fa-envelope"></i></a>
                              <a href = "https://www.instagram.com/delghifari_" target="_blank" class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
        
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="member"> <img src="https://i.postimg.cc/KzqVw2CM/TH05.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Alfina Megasiwi</h4> <span>Daftar Rumah Sakit Rujukan</span>
                                 
                            <div class="social"> 
                              
                              <a href="mailto:alfina.megasiwi@ui.ac.id " target="_blank" class="btn-floating btn-lg btn-email" type="button" role="button"><i class="fas fa-envelope"></i></a>
                              <a href="https://www.linkedin.com/in/alfina-megasiwi-06879714a/?originalSubdomain=id"  target="_blank"class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
                              <a href="https://www.instagram.com/alfnms" target="_blank" class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
        
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="member"> <img src="https://i.postimg.cc/gjx5P7PB/profpic-uchi-copy-1.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Muchlisah Lusiambali</h4> <span> Learning Place Page <br>
                              (include: Contact Us Form) </span>

                              <div class="social"> 
                              
                                <a href="mailto: muchlisah.lusiambali@ui.ac.id" target="_blank" class="btn-floating btn-lg btn-email" type="button" role="button"><i class="fas fa-envelope"></i></a>
                                <a href="https://www.linkedin.com/in/uchiml/" target="_blank" class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://www.instagram.com/uchiml" target="_blank" class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
          
                              </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="member"> <img src="https://i.postimg.cc/4yj041f4/FR52.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>William</h4> <span>Forum</span>
                            
                            <div class="social"> 
                              
                              <a href="mailto: william92@ui.ac.id" target="_blank" class="btn-floating btn-lg btn-email" type="button" role="button"><i class="fas fa-envelope"></i></a>
                              <a href="https://www.linkedin.com/in/william-8611851a0/" target="_blank" class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
                              <a href="https://www.instagram.com/hori__75" target="_blank" class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



    {% endblock %}
