{% extends 'base.html' %}
{% load static %}
{% block title %}Hello World!{% endblock %}
{% block head %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}

{% block content %}
<div class="container-btn">
    <img src="https://files.catbox.moe/hzidkd.jpg" alt="test">
    <h1>NEW NORMAL INFO</h1>
    <a class="btn default-outline" href="{% url 'main:subscribe' %}">Subscribe</a>  
      
</div>

<div class="container" data-aos="fade-up">
    <div class="row">
        <div class="col-md-6 mt-5">
            <h1>Rumah Sakit</h1>
            <p>Anda dapat melihat daftar rumah sakit rujukan di sini</p>
            <a href="{% url 'daftarrumahsakit:home' %}" class="btn default-outline">RS</a>
        </div>
        <div class="col-md-6 mt-5">
            <h1>Learning Place</h1>
            <p>Anda dapat melihat daftar tempat belajar di sini</p>
            <a href="{% url 'learningplace:index' %}" class="btn default-outline">Learning Place</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 my-5">
            <h1>Forum</h1>
            <p>Anda dapat melihat topik diskusi dan berita terbaru mengenai new normal dan pandemi ini</p>
            <a href="{% url 'forum:index' %}" class="btn default-outline">Forum</a>
        </div>
        <div class="col-md-6 mt-5">
            <h1>Developer</h1>
            <p>Anda dapat melihat profile team New Normal Info</p>
            <a href="{% url 'main:developer' %}" class="btn default-outline">Developer</a>
        </div>
    </div>
    <br><br>
</div>
<br>
{% endblock %}
