{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}
<div class='container-fluid p-5' style="margin: auto;">
    <div class='row mt-5'>
        <div class='col my-5' id="center-text">
            <h1>
                {{ save_status }}
            </h1>
        </div>
    </div>

    <div class='row justify-content-center'>
        <a class="btn btn-light btn-outline-secondary" href="{% url 'main:index' %}">Kembali</a>    
    </div>
</div>

{% endblock %}