{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}
<div class="container-fluid p-5">
    <div class='breadcrumbs'>
        <div class='row'>
            <div class='col-lg-6'>
                <div class='container-btn'>
                    <img src="https://files.catbox.moe/j603xh.png" alt="Subscribe now!">
                </div>
            </div>
            <div class='col-lg-6 m-auto'>
                <h1>Bergabung sekarang</h1>
                <p>Ingin tetap up to date dengan informasi yang ada? Bergabunglah bersama {{ subscriber_count }} orang lainnya dan subscribe sekarang!</p>
            </div>
        </div>
        
    </div>

    <div class='row mt-5'>
        <div class='col my-3' id="center-text">
            <h1>Masukkan nama dan email</h1>
        </div>
    </div>

    <div class='row'>
        <div class='col'>
            <form action="save/" method="POST">
                <div class="form-group">
                    {% csrf_token %}

                    <div class='row'>
                        <div class='col-md-6 mb-5'>
                            {{ add_subscriber.nama_subscriber }}
                        </div>
                        <div class="col-md-6 mb-5">
                            {{ add_subscriber.email_subscriber }}
                        </div>
                    </div>

                    <div class="row">
                        <div class='col-md-6 mb-3 ml-auto'>
                            <div class='container pr-3 pl-0'>
                                {{ add_subscriber.newsletter }}
                                <p>Centang kotak ini untuk mendapatkan update terbaru di website kami pada email anda</p>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <button type="submit" class="btn btn-dark">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}