<div class="bbbootstrap">
  <h1 class="display-4" style="text-align: center; font-weight: bold; font-family: 'Rubik';">Rumah Sakit Rujukan</h1>
  <h3 style="text-align: center; font-family: 'Rubik';"> COVID-19 DKI Jakarta</h3>
  <div class="container">
    <form method="POST" action="search/" >
      {% csrf_token %}
        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input type="text" name = "srh" placeholder="RS/Kota/Kelurahan" role="searchbox" class="InputBox" autocomplete="off"><input type="submit" class="Button" value="Search">
    </form>
  </div>
  <br><br><br><br>
</div>
