{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}

{% include 'daftarrumahsakit/header.html' %}


<section class="gallery-block cards-gallery">
	<div class="container">
    <div class="row justify-content-around">
      {% for item in city %}
	    <div class="col-md-2" style="padding: 0%;">
	      <div class="card order-0 transform-on-hover">
	        <img src="{{item.img}}" alt="Card Image" class="card-img-top">
	        <div class="card-body">
	          <h6 style="color: rgb(102, 102, 102);">{{item.name}}</h6>
            <a href="{{item.city_slug}}" class="stretched-link"></a>
          </div>
	       </div>
      </div>
      {% endfor %}
	  </div>
	</div>
</section>



{% endblock %}