
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: #fff !important;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #576971;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}

/*--------------------------------------------------------------
# Daftar Rumah Sakit Header Section
--------------------------------------------------------------*/
body .bbbootstrap {
  background-image: url(https://i.postimg.cc/kMwzzbzz/Group-31-1.png) !important;
  background-size: cover;
  padding: 180px 0 30px 0
}

.bbbootstrap {
  padding: 40px;
  margin-bottom: 22px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #2e9df7;
  -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset
}

.bbbootstrap form {
  position: relative;
  width: 540px;
  margin: 22px auto 0
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline
}

.bbbootstrap form input[type="text"] {
  padding: 15px 20px;
  padding-right: 100px;
  border-color: transparent;
  border-radius: 4px
}

input.InputBox {
  font-family: "Rubik";
  color: #333;
  font-size: 15px;
  padding: 3px;
  margin: 0;
  width: 250px;
  background: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.4)
}

input[type=text] {
  box-sizing: border-box
}

.InputBox {
  display: block;
  width: 100% !important;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 22px;
  border-radius: 4px;
}

.bbbootstrap form input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  float: right;
  padding: 10px 25px
}

.Button,
body .button {
  background-color: #1dc2d8;
  background-image: none
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer
}

.Button,
.Button:hover,
.Button:focus,
.Button:active {
  text-shadow: none;
  border-color: transparent
}

.Button {
  display: inline-block;
  padding: 6px 12px;
  vertical-align: middle;
  font-size: 13px;
  line-height: 22px;
  font-family: "Rubik";
  border: transparent solid 1px;
  border-radius: 3px;
  -webkit-transition: -webkit-box-shadow 50ms;
  transition: -webkit-box-shadow 50ms;
  -o-transition: box-shadow 50ms;
  transition: box-shadow 50ms;
  transition: box-shadow 50ms, -webkit-box-shadow 50ms;
  -webkit-font-smoothing: inherit;
  color: #fff;
  background-color: #33B5E5;
  background-repeat: repeat-x;
  background-color: #33B5E5;

}

/*--------------------------------------------------------------
# Daftar Rumah Sakit Card Home Section
--------------------------------------------------------------*/

.gallery-block{
	padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
  font-family: "Rubik";
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}


.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
  }
  
}

/*--------------------------------------------------------------
# Daftar Rumah Sakit Table Detail Section
--------------------------------------------------------------*/

.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
  min-width: 1000px;
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

table.table tr th{
	border-color:#ffffff;
	padding: 12px 15px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
  font-family: "Rubik";
}
table.table tr td{
  border-color:#a19f9f;
	padding: 12px 15px;
  vertical-align: middle;
}

table.table thead{
  color: #ffffff;
  background-color:#33B5E5;
}

/*--------------------------------------------------------------
# Yang Dulu
--------------------------------------------------------------*/

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.btn {
  background-color: #ffffff;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

/* Default button with gray */
 
.default-outline {
  border-color: #6C757D;
  color: #6C757D;
  background-color: #F8F9FA; 
}

.default-outline:hover {
  border-color: #818181;
  background-color: #6C757D;
  color: #fff;
}
 
#center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-btn {
    position: relative;
    width: 100%;
}

.container-btn img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.container-btn h1 {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
}

.container-btn .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
  -ms-transform: translate(-50%, 250%);
}

#center-text {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .container-btn h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 820px) {
  .container-btn h1 {
    transform: translate(-50%, -50%);
  }

  .container-btn .btn {
    transform: translate(-50%, 300%);
  }
}

@media screen and (max-width: 600px) {
  .header .form-nya .row .col-md-4{
    margin-left: 20px;
  }
  
  .body .container .row{
    margin-left: 8px;
  }

  .container-btn h1 {
    font-size: 44px;
  }
}
