{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> New Normal Info </title>

<!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" arel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Rowdies&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Smythe&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=swap" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/yaldevi-colombo" rel="stylesheet">

  <!-- Vendor CSS Files -->

<!-- Dev Page -->
  <!-- <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'> -->


  <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">



  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/icofont/icofont.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/venobox/venobox.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/aos/aos.css' %}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  
      
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
  <!-- <script src="{% static 'js/main.js' %}"></script> -->


  
  <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
 

<!-- Developer Page -->

      <!-- CSS -->
      <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
      
      <!-- JQuery -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>


       <!-- JavaScript -->
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>

     
      <!-- Icons -->
      <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>

  
    {% block css %}
        <!-- <link rel="stylesheet" href="{% static 'style.css' %}" /> -->
    {% endblock %}
    
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{% url 'main:index' %}"><span> New Normal Info </span></a></h1>
    
      </div>

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li id="hum"><a href="{% url 'main:index' %}"> Home </a></li>
          <li><a href="{% url 'daftarrumahsakit:home' %}"> RS </a>
     

          <li><a href="{% url 'learningplace:index' %}"> Learning Place </a>
    


          <li id="port"><a href="{% url 'forum:index' %}"> Forum </a></li>
          <li id="price"><a href="{% url 'main:developer' %}"> Developer </a></li>

       

        </ul>
      </nav>

    </div>
  </header>
  <!-- End Header -->

      {% block content %}
      {% endblock %}  
 
       <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3> New Normal Info </h3>
          
                
                <p> Fakultas Ilmu Komputer <br>
                Kampus UI Depok, Pondok Cina, <br>
                Kecamatan Beji, Kota Depok, <br>
                Jawa Barat 16424 <br> <br>
             
                <strong>Phone:</strong> 
              
                (021)881646712
                <br>
                <strong>Email:</strong> 
              
                 new-normal-info@cs.ui.ac.id <br>
              </p>
              


        </div>
      </div>
      
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'main:index' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'daftarrumahsakit:home' %}">RS</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'learningplace:index' %}">Learning Place</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'forum:index' %}">Forum</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'main:developer' %}">Developer</a></li>
            </ul>
          </div>

 
          <div class="col-lg-3 col-md-6" id="quotesyuk">
            <div class="footer-info">
              <h3> Quotes </h3>
          <p> Either you run the day </p>
          <p> or the day runs you </p>



          </div>
        </div>



     


   <!-- Vendor JS Files -->
   <script src="{% static "assets/vendor/jquery/jquery.min.js" %}" ></script>
   <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
   <script src="{% static "assets/vendor/jquery.easing/jquery.easing.min.js" %}"></script>
   <script src="{% static "assets/vendor/php-email-form/validate.js" %}"></script>
   <script src="{% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
   <script src="{% static "assets/vendor/venobox/venobox.min.js" %}"></script>
   <script src="{% static "assets/vendor/owl.carousel/owl.carousel.min.js" %}"></script>
   <script src="{% static "assets/vendor/aos/aos.js" %}"></script>
 
   <!-- Template Main JS File -->
   <script src="{% static "js/main.js" %}"></script>
   
 

</body>
</html>
