{% extends "base.html" %}
{% load static %}
{% block title %}Forum{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}
<style>
.row {
    margin: 10px 0px 10px 0px;
}

p {
    vertical-align: middle;
}
</style>
<div class="container" style="max-width: 1000px; margin: auto; margin-top: 100px; margin-bottom: 100px;">
    <h1>Forum</h1>
    {% if user.is_authenticated %}
    Anda masuk sebagai {{ user.username }} <a href="{% url 'account:logout' %}">logout</a>
    {% else %}
    Silakan login atau daftar untuk post topik dan komentar
    {% endif %}
    <div class="row d-flex justify-content-between">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'forum:sortPost' 'recent' %}" class="btn btn-primary">Terbaru</a>
            <a href="{% url 'forum:sortPost' 'popular' %}" class="btn btn-primary">Populer</a>
        </div>
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'forum:post' %}">Post Topik</a>
        {% else %}
        <div role="group" aria-label="Basic example">
            <a class="btn btn-primary" href="{% url 'account:login' %}">Login</a>
            <a class="btn btn-primary" href="{% url 'account:signup' %}">Daftar</a>
        </div>
        {% endif %}
    </div>
    <ul class="list-group">
        {% for topic in topics %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div class="col-3">
                    <a href="{% url 'forum:view' topic.pk %}">{{ topic.title }}</a>
                    <div>Oleh: {% if topic.author %}{{ topic.author }}{% else %}Anonim{% endif %}</div>
                </div>
                <div class="col-2">
                    Balasan: {{ topic.reply_count }}
                </div>
                <div class="col-4">
                    Balasan terakhir: {{ topic.get_recent_datetime }}
                </div>
            </div>
        </li>
        {% endfor%}
    </ul>
</div>
{% endblock %}