{% if postnode.hidden %}
Post ini telah dihapus
{% else %}
<div id="postcontent">
    <b>{% if postnode.author %}{{ postnode.author }}{% else %}Anonim{% endif %}</b> - {{ postnode.get_creation_datetime }}
    <div>{{ postnode.content|safe }}</div>
</div>
{% endif %}
<a href="{% url 'forum:reply' postnode.pk %}">Balas</a>
{% if postnode.has_replies %}
    <ul id="reply">
        {% for childnode in postnode.postnode_set.all %}
            <li id="reply">{% include "forum/posttemplate.html" with postnode=childnode %}</li>
        {% endfor %}
    </ul>
{% endif %}