{% extends "base.html" %}
{% load static %}
{% block title %}Forum | Post Topic{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}
{% load bootstrap4 %}
<div class="container" style="max-width: 1000px; margin: auto; margin-top: 100px; margin-bottom: 100px;">
    <h1>Post Topic</h1>
    <p>Post sebagai {{ user.username }} <a href="{% url 'account:logout' %}">logout</a></p>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form topicform %}
        {{ postnodeform.media }}
        {{ postnodeform.as_p }}
        <input class="btn btn-primary" type="submit" value="Post">
        <a class="btn btn-primary" href="{% url 'forum:index' %}">Kembali</a>
    </form>
</div>
{% endblock %}
