{% extends "base.html" %}
{% load static %}
{% block title %}Forum | {{ topic.title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'style.css' %}" /> 
{% endblock %}
{% block content %}

<style>
#postbox li{
    list-style: none;
    margin: 10px 0px 10px 0px;
    padding-left: 10px;
}

#postbox {
    padding-inline-start: 10px;
}

#post ul{
    border-left: 1px solid black;
    padding-inline-start: 1%;
}
#postcontent ul{
    padding-inline-start: 40px;
    border-left: none;
}

#postcontent li{
    padding-left: 0px;
    margin: 0px;
    list-style: disc;
}

@media (max-width: 1000px) {
    #postbox {
        padding-inline-start: 0px;
    }

    #post ul{
        border-left: 0.5px solid black;
        padding-inline-start: 0.5%;
    }

}
</style>

<div class="container" style="max-width: 1000px; margin: auto; margin-top: 100px; margin-bottom: 100px;">
    <h1>{{ topic.title }}</h1>
    <p>{{ topic.time_creation }} <a href="{% url 'forum:index' %}">Kembali</a></p>
    <p>Pembuat : {% if topic.author %}{{ topic.author }}{% else %}Anonim{% endif %}</p>
    <ul id="postbox">
        <li id="post">
            {% include "forum/posttemplate.html" with postnode=topic.head %}
        </li>
    </ul>
    <a href="{% url 'forum:index' %}" class="btn btn-primary" style="margin-top: 5px">Kembali</a>
</div>
{% endblock %}